<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>slinky.py</string>
			<key>preferredName</key>
			<string>Slinky</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>Ryan Bugden</string>
	<key>developerURL</key>
	<string>https://ryanbugden.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<false/>
	<key>mainScript</key>
	<string>slinky.py</string>
	<key>name</key>
	<string>Slinky</string>
	<key>requiresVersionMajor</key>
	<string>4</string>
	<key>requiresVersionMinor</key>
	<string>0</string>
	<key>timeStamp</key>
	<real>1696518407.8246772</real>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
